@use "../base/variables" as *;
@use "../base/mixins" as *;

footer {
    background:url(/img/banner-bg.png) ;
    color: $white;
    min-height: 550px;
    padding: 204px 0px 233px;
    position: relative;
    
}
footer::after{
    content: "";
    background: linear-gradient(251deg, #7E5AFF -2.19%, #55B7FF 103.21%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
   /*  pointer-events: none; */
   
}

.footer__wrapper {
    max-width: 1190px;
    height: 100%;
    padding: 0px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__social{
    display: flex;
    gap: 20px;
    
}


.footer__copyright {
    align-self: flex-start;
    font-size: 14px;
    font-family: $font-main;
}