@use "../base/variables" as *;


#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    
}

.wrapper {
    padding-top: 53px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out;
}


.header__items {
    display: flex;
    gap: 93px;
}

.social__circle {
    border-radius: 50%;
    border: 1px solid $white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__item {
    font-family: $font-accent;
}

.header__link {
    color: inherit;
}

.header__social {
    display: flex;
    gap: 47px;
}

.header-scroll {
    background-color: $bg-violet ;
    z-index: 10;
    padding: 10px 0px;
    transition: all 0.4s ease-in;
}

.wrapper-scroll {
    padding-top: 0px;

}
.header__logo {
    max-width: 240px;
}
.header__logo-img {
    width: 100%;
}



//media

@media screen and (max-width: 1100px) {
    .header__nav {
        display: none;
    }

    .header__nav.mobile-active {
        display: block !important;
    }

}

@media screen and (max-width: 600px) {
    .header__logo {
        max-width: 241px;
        flex-shrink: 3;
    }

    .header__social {
        display: none;
        
    }

    .wrapper {
      gap: 20px;

    }
    .burger{
        flex-shrink: 2;
    }

}

//active nav
.header__nav.mobile-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $bg-blue;
    z-index: 100;
    
}

.header__nav.mobile-active .header__items {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
    font-size: 40px;
    align-items: center;
    margin-top: 60px;
}