@use "../base/variables" as *;
@use "../base/mixins" as *;

.news {

    background: url(/img/news/Background.png);
    height: 1035px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; 

}

.news__wrapper {
    max-width: 1190px;
    padding: 112px 10px 213px 10px;
    margin: 0 auto;
    position: relative;
}

.news__title {
    @include title();
    color: $white;
    text-align: center;
    margin-bottom: 89px;
    position: relative;
    font-size: clamp(1.875rem, 0.986vw + 1.567rem, 2.75rem);

    &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $white;
    }
}

.slider {
    padding: 0;
}

.slide {
    width: 360px;
    background-color: $white;
}

.slider {
    position: initial;
}

.slide {
    width: 370px;

    .post__img {
        width: 100%;
    }

    h3 {
        color: $main-color;
        font-family: $font-main;
        font-size: clamp(1.875rem, 0.986vw + 1.567rem, 2.75rem);
        font-weight: 700;
        margin-bottom: 15px;
    }

    p {
        @include description();
        margin-bottom: 40px;
    }
}

.post__info {
    padding: 30px 20px;
}

.news__user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.user__text {
    display: flex;
    flex-direction: column;
}

.user__Name {
    color: $main-color;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px;

}

.user__date-post {
    color: $bg-blue;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;

}

.news .slick-track {
    display: flex;
    align-items: stretch;
    gap: 30px;
    height: auto !important;
}

.news .slick-dots {
    position: absolute;
    bottom: 143px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.news .slick-dots li button {
    background: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid $white;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

.news .slick-dots .slick-active button {
    background-color: $white;
}

.fa-solid {
    font-size: 13px;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid $white;
    border-radius: 50%;
}

.fa-angle-right::before,
.fa-angle-left::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
}

.news .slick-arrow.slick-prev {
    font-size: 20px;
}

.news .priv-arrow {
    width: 40px;
    height: 40px;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -78px;
    cursor: pointer;
}

.news .next-arrow {
    width: 40px;
    height: 40px;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -78px;
    cursor: pointer;

}

.news .slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

//media
@media screen and (max-width: 1360px) {
   
   .news__wrapper{
    padding: 119px 10px ;
   }
    .news .next-arrow{
        top: 18%;
        right: 39%;
        transform: translateX(50%);
    }
    .news .priv-arrow{
        top: 18%;
        left: 35%;
        transform: translateX(50%);
    }
    .news .slick-dots{
        bottom: -20px;
    }
   
}
@media screen and (max-width: 700px) {
  
    .news .slick-track{
        gap: 0px;
    }
    .news .next-arrow{
        top: 15%;
        
    }
    .news .priv-arrow{
        top: 15%;
        
    }
    .news{
        height: 1000px;
    }
    .news .slick-dots{
        display: none;
    }
}
@media screen and (max-width: 500px) {
  
    .news{
        height: 800px;
    }
   
   
}
@media screen and (max-width: 300px) {
    .news__title{
        margin-bottom: 20px;
    }
    
}

