@use "../base/variables" as *;
@use "../base/mixins" as *;

.projects{
    overflow: hidden;
    position: relative;
}

.projects__wrapper {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 147px;
}



.projects__title {
    @include title();

    position: relative;
    font-size: clamp(1.875rem, 0.986vw + 1.567rem, 2.75rem);
    &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $main-color;
    }
}


//trade center 


.project__trade-center {
    display: flex;
    gap: 70px;
    align-items: center;
    padding-bottom: 140px
}

.trade-center__img {
    max-width: 630px;
    position: relative;

    img {
        width: 100%;

    }

    &:before {
        content: "";
        position: absolute;
        top: -57px;
        left: -30%;
        width: 100%;
        height: 100%;
        background-color: $bg-blue;
        z-index: -1;
    }

}

.projects__info-title {
    @include title();
    margin-bottom: 19px;
    font-size: clamp(1.875rem, 0.986vw + 1.567rem, 2.75rem);
}

.projects__suptitle {
    @include description();
    font-size: 22px;
    position: relative;
}


.projects__description {
    @include description();
    margin-bottom: 57px;
    line-height: 30px;
    max-width: 470px;
    font-size: clamp(1rem, 0.141vw + 0.956rem, 1.125rem);
}

.projects-btn {

    @include btn-default(16px, 41px)
}

.projects__location {
    color: $black;
    font-family: $font-secondary;
    font-size: clamp(0.813rem, 0.141vw + 0.768rem, 0.938rem);
    font-style: italic;
    font-weight: 400;
    display: block;
    margin-top: 77px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

}

//Commerce centre

.project__comerce-center {
    display: flex;
    gap: 70px;
    align-items: center;
    padding-bottom: 140px
}


.commerce-center__img {
    max-width: 630px;
    position: relative;

    img {
        width: 100%;

    }

    &:before {
        content: "";
        position: absolute;
        top: -57px;
        left: 30%;
        width: 100%;
        height: 100%;
        background-color: $bg-violet;
        z-index: -1;
    }

}

//media 
@media screen and (max-width: 1100px) {
   
    .project__trade-center{
        padding-bottom: 0;
    }
    .projects__wrapper{
        gap: 70px;
    }
   
}
@media screen and (max-width: 700px) {
   
    
    .project__trade-center,.project__comerce-center{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .trade-center__img,.commerce-center__img{
        max-width: 400px;
    }
    .commerce-center__img{
        order: -1;
    }
    .projects__info{
        text-align: center;
    }
    .projects__location{
        margin-top: 40px;
        justify-content: center;
    }
    .projects__wrapper{
        gap: 100px;
        padding-top:60px ;
        
    }
}
@media screen and (max-width: 400px) {
    .projects__description{
        margin-bottom: 20px;
    }
    .trade-center__img:before{
        top: -30px;
    }
    .projects-btn{
        display: block;
       
    }
   
   
}