@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Source+Sans+3&display=swap');
// Fonts

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Source Sans 3', sans-serif;
$font-secondary: 'Open Sans', sans-serif;



//Colors

$black: #000;
$bg-violet: #7E5AFF;
$bg-blue: #55B7FF;
$main-color: #2C4058;
$white: #fff;